<div class="docs-navigation__container">

    <sidenav [open]="nav"  (toggleNav)="toggleNav()">


        <ng-content select="aside"></ng-content>

    </sidenav>






    <nav>

        <span class="side-toggle" (click)="toggleNav()"><i class="material-icons">menu</i></span>

        <ng-content></ng-content>


    </nav>


    <div class="notification">
        <snackbar><span><a href="#">User1</a> aime <a href="#">Mobi-dick</a></span></snackbar>
        <snackbar><span><a href="#">User1</a> commence à lire <a href="#">Mobi-dick</a></span></snackbar>
    </div>


</div>

