<div class="bk-book book-1 bk-bookdefault">
    <div class="bk-front">
        <div class="bk-cover-back"></div>
        <div class="bk-cover">

        </div>
    </div>

    <div class="bk-back">
        <p>In this nightmare vision of cats in revolt, fifteen-year-old Alex and his friends set out on a diabolical orgy of robbery, rape, torture and murder. Alex is jailed for his teenage delinquency and the State tries to reform him - but at what cost?</p>
    </div>
    <div class="bk-left">
        <h2>
            <span>Herman Melville</span>
            <span>Moby Dick</span>
        </h2>
    </div>
</div>