:host{
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 64px;
    padding: 0 16px;
    box-sizing: border-box;
    white-space: nowrap;
    height: 100%;
}

:host a{
    color: #fff !important;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 64px;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    height: 100%;
    display: block;
}

:host a.active{
    opacity: 1;
    border-bottom-color: #18FFFF;
}